<!DOCTYPE html>
<html>

    <head>
        <title>Caleb McCarthy</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/syntax/dracula.css">
        <link rel="stylesheet" href="../css/header.css">
        <script src="../js/script.js"></script>
        <script src="../js/highlight.pack.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        
    </head>
    <script>hljs.initHighlightingOnLoad();</script>
 
        
<body>
<div class="content">
    <div class="topnav" id="myTopnav">
    <a class="home " href="../index.html" >Home</a>
    <a class="projects " href="projects.html">Projects</a>
    <a class="about " href="about.html" >About</a>
    <a class="blog  active " href="blogs.html">Blog</a>
    <a class="contact " href="contact.html">Contact</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
  </div>
    <div class="normal-margin  ">
    <h1 align="center"> Blogs</h1>
    <hr>
    <table style="min-width: 400px;">
      <tr>
        <th>Blog</th>
        <th>Date</th>
        
      </tr>
      <tr>
        <td> <a  href="fish.html">How to clean a mackerel fish</a></td>
        <td>02/04/2020</td>
       
        
      </tr>
      <tr>
        <td><a  href="china-2019-page-1.html">China Trip 2019</a></td>
        <td>2019</td>
       
      </tr>
      <tr>
        <td> <a  href="blog.html">Windows 10 Linuxy Emacs</a></td>
        <td>2018</td>
       
        
      </tr>
    </table> 
    
   
   
</div>
</div>


<footer class="footer">
    <hr>
    <p>&copy Caleb McCarthy 2020</p>
   
  </footer> 

  </body>
</html>

<style>
a {
  color: #e0e0e0;
}
th, td {
  padding: 15px;
  color: #e0e0e0;
}

th {
  text-align: left;
  color: #e0e0e0;
}


</style>