<!DOCTYPE html>
<html>

    <head>
        <title>Caleb McCarthy</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/syntax/dracula.css">
        <link rel="stylesheet" href="../css/header.css">
        <script src="../js/script.js"></script>
        <script src="../js/highlight.pack.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        
    </head>
    <script>hljs.initHighlightingOnLoad();</script>
 
        
<link rel="stylesheet" href="../css/blog-css.css">
<body>
<div class="content">
    <div class="topnav" id="myTopnav">
    <a class="home " href="../index.html" >Home</a>
    <a class="projects " href="projects.html">Projects</a>
    <a class="about " href="about.html" >About</a>
    <a class="blog  active " href="blogs.html">Blog</a>
    <a class="contact " href="contact.html">Contact</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
  </div>
<div class="blog-content">
<h1 align="center" > China Trip 2019</h1>

<p>September 2 2019 I took my first Trip to China to meet the inlaws.</p>
<h2>Flight In</h2>
<p> We were worried our son Elijah would be bored. He was about a year and a half old; However he adapted pretty quick. I pre downloaded kids videos from youtube to my laptop to prepare for his bordom. </p>
<a target="_blank" href="../assets/IMG_5688.jpg">
  <img src="../assets/thumbnails/IMG_5688.jpg" Width="700px" alt="Flight">
</a>
<p> Elijah slept most the way from Seattle to Shanghai. I drank coffee the whole way.  </p>
<a target="_blank" href="../assets/IMG_5704.jpg">
  <img src="../assets/thumbnails/IMG_5704.jpg" Width="700px" alt="Flight2">
</a>

<p>We were super excited to be in Shanghai. Even if we hadn't slept in like 40 hours.</p>
<a target="_blank" href="../assets/IMG_5716.JPG">
  <img src="../assets/thumbnails/IMG_5716.JPG" Width="700px" alt="At Shanghai">
</a>

<p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/yhtTMeXMerk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>To Be Continued...</h3>
</div>
</div>

<footer class="footer">
    <hr>
    <p>&copy Caleb McCarthy 2020</p>
   
  </footer> 

</body>
</html>