<h1 align="center"> Projects</h1>



<ul class="center-list line-height-list" style="list-style-type:none;">
        <li><a  class="no_underline project-link" href="https://github.com/camccar/RustTetris"> Rust Tetris https://github.com/camccar/RustTetris </a> </li>
        <li><a  class="no_underline project-link" href="https://github.com/camccar/RustTetris"> Type script Tetris https://github.com/camccar/tetris </a></li>
        <li><a  class="no_underline project-link" href="https://github.com/camccar/RustTetris"> Rust Tetris https://github.com/camccar/RustTetris </a></li>
      </ul>
